.app-card-wrapper{
    position: relative;
    width: 220px;
    min-height: 240px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    cursor: pointer;
    border-style: none;
    transition: 0.5s ease;
        &:hover{
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.8);
        }
    .app-card-img{
        min-height: 140px;
        display: flex;
        align-items: center;
        img{
            display: block;           
            margin: 0 auto;
            width: 90%;
            
        }
    }
    .app-card-descr{
        margin-top: 10px;
    }
    .app-card-price{
        margin-top: 10px;
        text-align: end;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #000;
    }
    .app-card-country{
        margin-top: 14px;
        text-align: end;
    }
}

.add-margin{
    margin-top: 60px;
}