.about-us{
    min-height: 520px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about-us-subtitle{
    margin-bottom: 20px;
    color: #000;
}

.descr {
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.about-us-descr{
    margin-top: 40px;
    width: 590px;
}