.about-our-beans{
    min-height: 1250px;
    padding-top: 70px;
    padding-bottom: 30px;
    .about-our-beans-box{
        width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        .about-our-beans-img{
            width: 270px;
            filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
        }
        .about-our-beans-delimeter{
            margin-top: 20px;
        }
        .about-our-beans-descr{
            margin-top: 26px;
            width: 346px;
        }
    }
    .about-our-beans-line{
        width: 240px;
        height: 0px;
        border: 1px solid #000000;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .about-our-beans-cards{
        width: 800px;
        margin: 0 auto;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // :nth-child(4){
        //     margin-top: 60px;
        // }
        // :nth-child(5){
        //     margin-top: 60px;
        // }
        // :nth-child(6){
        //     margin-top: 60px;
        // }
    }
}