

.app-menu-dark {
    width: 355px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;   
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 12px; 
    color: #000;
    cursor: pointer;
        li:first-child{
            list-style: url(./nav-logo-black.svg);           
        }
}