.our-best{
    min-height: 495px;
    padding-top: 80px;
    padding-bottom: 110px;
    background: url(../../../../public/img/bg/our-best-bg.jpg);
}

.cards{
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}