.delimeter {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    .modLogo {
        margin: 0 25px 0;
    }
    
    .line {
        width: 60px;
        height: 0px;
        border: 1px solid;
    }
}

